{% extends 'main/layout.html' %} 
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="check_in_form">
  <h1>{{title}}</h1>
  <div class='info'>
    Форма добавления пива.
  </div>
  <form method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class='form-errors'>{{ error }}</div>
    {% for i in form %}
      <p>
        <label class='form-label' for="{{ i.id_for_label }}">
          {{ i.label }}
        </label> 
        {{i}}
      </p>
      <div class='form-errors'>{{ i.errors }}</div>
    {% endfor %}

    <button class='btn btn-success' type='submit'>Сохранить</button>

    </form>
</div>
{% endblock %}
